<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand text-white p-4 fw-bold fs-2" routerLink="home"
      >START FRAMEWORK</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse d-flex justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-white fw-bold"
            routerLink="about"
            routerLinkActive="bg-success rounded "
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-bold"
            routerLink="portofolio"
            routerLinkActive="bg-success rounded "
            >PORTOFOLIO</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-bold"
            routerLink="contact"
            routerLinkActive="bg-success rounded "
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
